APP_NAME=NBE-DMS-Python-Service
APP_ENV=dev
API_KEY=change-me-in-prod
JWT_SECRET=change-me-in-prod
DATABASE_URL=sqlite:///./storage/dms.db
STORAGE_DIR=./storage/documents
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
POPPLER_PATH=C:\poppler\Library\bin
CBS_BASE_URL=http://mock-cbs.local/api
LOS_BASE_URL=http://mock-los.local/api
AML_BASE_URL=http://mock-aml.local/api
IFRS9_BASE_URL=http://mock-ifrs9.local/api
